*{
  font-family: 'Nunito', sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: rgb(9, 9, 9);
  font-weight: 800;
  text-decoration: none;
  margin-left: 60px;
}

.navbar a::before {
  content:'';
  position: absolute;
  top:100%;
  left:0;
  width:0;
  height:2px;
  background: white;
  transition: 1s;
}

.navbar a:hover:before {
  width:100%;

}