body {
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    font-family: var(--font-kumbh-sans);  
  }
  
  form {
    width: 50%;
    margin: 0 auto;
  }
  
  .question {
    margin-bottom: 20px;
    font-family: var(--font-kumbh-sans);
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  input[type="range"] {
    width: 70%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 1.1em;
    background-color: #fbff00;
    color: #1f1a1a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: 500ms;
  }
  
  input[type="submit"]:hover {
    background-color: #caff46;
    color: rgb(255, 0, 204);
  }
  
  #result {
    margin: 150px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Nunito', sans-serif;
  }
  